.under-section {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.793);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;

}

.under-item {
  width: 72%;
  height: 72%;
  background-color: white;
  border-radius: 5px;
  padding: 40px 0 40px 40px;
  display: flex;
  position: relative;
  justify-content: space-between;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.under-item .close {
  position: absolute;
  top: 10px;
  right: 10px;
  user-select: none;
  font-size: 22px;
}

.carousel-root {
  width: 90%;
  height: 65vh;
}

.under-item .img-box {
  width: 50%;
  height: 70%;
}

.under-item .img-box .head-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
}

.under-item .img-box .imgs-box {
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.under-item .text-box {
  width: 50%;
  height: auto;
  padding: 0 20px 0 20px;
}

.under-item .text-box h2 {
  margin-bottom: 10px;
}

.under-item .text-box small {
  color: #6b7280;
}

.under-item .text-box p {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  line-height: 20px;
  color: #6b7280;
}

.under-item .text-box .price {
  align-items: center;
  margin: 5% 0 3% 0;
}

.under-item .text-box .price h2 {
  font-size: 26px;
  font-weight: 500;
}

.under-item .text-box .price del {
  font-size: 14px;
}

.under-item .text-box .count {
  height: 50px;
  background-color: black;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.under-item .text-box .count p {
  color: white;
}

.under-item .text-box .count button {
  height: 100%;
  text-align: center;
  background-color: black;
  border: none;
  color: white;
  font-size: 22px;
  border-radius: 5px;
}

.under-item .text-box .text-bottom {
  width:320px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 3vh;
}

.under-item .text-box .nomer {
  width: 180px;
  height: 50px;
  font-size: 18px;
  color: black;
  border: 1px solid black;
}

.under-item .text-box .text-bottom button {
  padding: 10px 20px;
  background-color: black;
  height: 50px;
  width: 120px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media(max-width:1150px) {
  .under-item {
    width: 85%;
  }
}

@media(max-width:890px) {
  .under-item {
    flex-direction: column;
    position: relative;
  }
  .carousel-root {
   width: 40%;
   position: absolute;
   top: 5px;
   left: 3px;
  }
  .under-item .carousel .thumb{
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .under-item .text-box{
    width: 90%;
    height: 50%;
    margin-bottom: 50px;
    font-size: 18px;
  }
  .under-item .img-box{
    width: 60%;
    height: 40%;
  }
}
@media(max-width:600px){
  .under-item .text-box .title{
    display: none;

  }
  .under-item .text-box .buy{
    position: absolute;
    bottom: 7px;
    right: 7px;
  }  
  .under-item .text-box .nomer{
    position: absolute;
    bottom: 7px;
    left: 7px;
  }
  .carousel-root {
    width: 70%;
   }



}